MP3NEAT/Stuff/

NEATTest/**/*.dat
MP3NEAT/Datasets/**/*.dat

MP3Neat/register_mp3.dat
MP3Neat/extended_register.dat

**/*.docx
**/*.doc
**/*.pptx
**/*.ppt
**/*.pdf
**/.idea/

**/.DS_Store

*.mid
*.midi
*.mp3
*.wav
*.pickle
